<div class="container well" style="margin-top: 5%">
    <div class="rows">
    <form action="/home/write" method="POST">
        <div class="form-group">
          <label for="usr">제목:</label>
          <input name="title" type="text" class="form-control" id="usr">
        </div> 
        <div class="form-group">
          <label for="comment">내용:</label>
          <textarea name="content" class="form-control" rows="5" id="comment"></textarea>
        </div>
      <button type="submit" class="btn btn-default">작성하기</button>
    </form>
    <br>
    <% @posts.each do |p| %>
        <div style="margin-top: 20px">
            <span style="font-weight: bold; font-size: 20px">#<%= p.id %></span><div style="float: right;"><%= p.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초") %> 
            <a href='/update_view/<%= p.id %>'>수정</a> <a href='/destroy/<%= p.id %>'>삭제</a></div>
            <h3 style="font-weight: bold"><%= p.title %></h3>
            <p><%= p.content %></p>
           
            <% p.replies.each do |r| %>
                <%= r.content %><div style="float: right;"><%= r.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초") %> 
                <a href='/reply_update_view/<%= r.id %>'>수정</a> <a href='/reply_destroy/<%= r.id %>'>삭제</a></div> <br>
            <% end %>
            <form action="/home/reply_write" method="POST">
               <div class="form-group">
                 <input type="hidden" value="<%= p.id %>" name="postid">
                 <label for="comment">댓글:</label>
                 <textarea name="comment" class="form-control" rows="2" id="comment"></textarea>
               </div>
              <button type="submit" class="btn btn-defau btn-xs">댓글 달기</button>
            </form>
        </div>
      
    <% end %>


    </div>
<form action="/home/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="pic" accept="image/*">
  <input type="submit">
</form>    
    
</div>






