<div class="well container">
    <% @posts.each do |p| %>
        <div class="well">
            
            <div>
                <center><h1>"<%= p.title %>"</h1></center>
                <br>
                <div class="row">
                  <div class="form-group col-xs-4">
                    <p>날짜: <p>
                    <p><%= p.date %> </p>
                  </div>
                  
                  <div class="form-group col-xs-4">
                    <p>시간: <p>
                    <p><%= p.time %> </p>
                  </div>
                  
                  <div class="form-group col-xs-4">
                    <p>인원 수: </p>
                    <p><%= p.people %> </p>
                  </div>
                </div>
                  <p>
                    카테고리:
                    <% if p.food == true %>
                        <%= "식사" %>
                    <% end %>
                    
                    <% if p.citytour == true %>
                        <%= "시내 투어" %>
                    <% end %>
                    
                    <% if p.suburbtour == true %>
                        <%= "근교 투어" %>
                    <% end %>
                    
                    <% if p.guidetour == true %>
                        <%= "가이드 투어" %>
                    <% end %>
                    
                    <% if p.concert == true %>
                        <%= "콘서트" %>
                    <% end %>
                    
                    <% if p.sports == true %>
                        <%= "스포츠" %>
                    <% end %>
                    
                    <% if p.gallery == true %>
                        <%= "갤러리" %>
                    <% end %>
                    
                    <% if p.museum == true %>
                        <%= "박물관" %>
                    <% end %>
                    
                    <% if p.historic == true %>
                        <%= "유적지" %>
                    <% end %>
                    
                    <% if p.room == true %>
                        <%= "룸 쉐어링" %>
                    <% end %>
                    
                    <% if p.car == true %>
                        <%= "카 쉐어링" %>
                    <% end %>
                  </p>
                  <p>참여하기</p>
                  <p>소개: </p>
                  <p><%= p.content %> </p>
                  <p>참여하는 사람</p>
                  <p>#참여하는 사람들 사진#</p>
                  <!--새로고침버튼누르면 여기에 참여자가 생기는 식으로표현할까??-->
                  
                  <p>
                    참여가능 성별: 
                    <% if p.male == true %>
                      <%= "남성" %>
                    <% end %>
                    <% if p.female == true %>
                      <%= "여성" %>
                    <% end %>
                  </p>
                  <p>
                    참여가능 나이: 
                    <% if p.age == 1 %>
                        <%= "10대" %>
                    <% elsif p.age == 2 %>
                        <%= "20대" %>
                    <% elsif p.age == 3 %>
                        <%= "30대" %>
                    <% elsif p.age == 4 %>
                        <%= "40대" %>
                    <% elsif p.age == 5 %>
                        <%= "50대" %>
                    <% end %>
                  </p>
                  
                  <p>
                    여행 스타일:
                    <% if p.style == 1 %>
                        <%= "매우 느긋" %>
                    <% elsif p.style == 2 %>
                        <%= "느긋" %>
                    <% elsif p.style == 3 %>
                        <%= "보통" %>
                    <% elsif p.style == 4 %>
                        <%= "빡빡" %>
                    <% elsif p.style == 5 %>
                        <%= "매우 빡빡" %>
                    <% end %>
                  </p>
                  <p>
                    성격:
                    <% if p.personality == 1 %>
                        <%= "매우 차분" %>
                    <% elsif p.personality == 2 %>
                        <%= "차분" %>
                    <% elsif p.personality == 3 %>
                        <%= "보통" %>
                    <% elsif p.personality == 4 %>
                        <%= "활발" %>
                    <% elsif p.personality == 5 %>
                        <%= "매우 활발" %>
                    <% end %>
                  </p>
                  <p>
                    예산:
                    <% if p.money == 1 %>
                        <%= "매우 적음" %>
                    <% elsif p.money == 2 %>
                        <%= "적음" %>
                    <% elsif p.money == 3 %>
                        <%= "보통" %>
                    <% elsif p.money == 4 %>
                        <%= "많음" %>
                    <% elsif p.money == 5 %>
                        <%= "매우 많음" %>
                    <% end %>
                  </p>
                  
                  <div>
                    <p>지역: <%= p.region %> 장소: <%= p.place %> <p>
                    <p>#가짜지도#</p>
                  </div>
            </div> 
            <div style="float:right; font-size:8px;">
                    <a href='/destroy/<%= p.id %>'>삭제</a>
            </div>
        </div>
    <% end %>
    <div class="well">
            <center>
                <p><a href='/home/create/'>방 만들러 가기</a></p>
                <p><a href='/home/search/'>방 찾으러 가기</a></p>
            </center>
    </div>
</div>

